.App {
  text-align: center;
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-header {
  background-color: #282c34;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.App-link {
  color: #61dafb;
}

.App-description {
  text-align: justify;
  max-width: 800px;
  margin: 20px;
  line-height: 1.6;
  font-size: 1.1em;
}

@media (max-width: 768px) {
  .App-description {
    margin: 10px;
    font-size: 1em;
  }
}
